
<div class="heading" style="background-color: darkturquoise;"><h1>Policy Administration System</h1></div>
<div id="navbar">
<button routerLinkActive="active-link" routerLink="/test-consumer" id="link1">Consumer</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button routerLinkActive="active-link" routerLink="/test-property" id="link1">Property</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button routerLinkActive="active-link" routerLink="/test-business" id="link1">Business</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button routerLinkActive="active-link" routerLink="/test-policy" id="link1">Policy</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn-danger" routerLinkActive="active-link" routerLink="/test-login" id="link1">Logout</button>
</div>
